<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link font jetbrains-mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">
    <!-- Link font inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <!-- Link font bricolage-grotesque -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap"
        rel="stylesheet">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Cart Items</title>
</head>

<body>
    <div id="main-cartitems-page">
        <div class="header">
            <div class="header_navbar jetbrains-mono">
                <div class="nav-logo">
                    <a th:href="@{/index}" class="flex" title="Homepage">
                        <img src="./assets/img/logo_big.png" alt="Homepage_logo">
                        <span>SHOPPER</span>
                    </a>
                </div>

                <ul class="nav-menu">
                    <li class="nav-menu-item"><a style="color:grey;">Shop</a></li>
                    <li class="nav-menu-item"><a th:href="@{/Man_HomePage}">Man</a></li>
                    <li class="nav-menu-item"><a th:href="@{/Woman_HomePage}">Woman</a></li>
                    <li class="nav-menu-item"><a th:href="@{/Kid_HomePage}">Kid</a></li>
                </ul>

                <div class="nav-login-cart">
                    <button th:switch="${user}" class="nav-login-cart-btn btn">
                        <a th:case="existed" th:href="@{/login}">Logout</a>
                        <a th:case="non-existed" th:href="@{/logout}">Login</a>
                    </button>
                    <div class="relative cur-pointer header-cart">
                        <div th:switch="${user}">
                            <a th:case="existed" th:href="@{/Cart}"></a>
                            <a th:case="non-existed" onclick="alert('Bạn cần đăng nhập để xem giỏ hàng!!!')"></a>
                            <img src="./assets/img/cart_icon.png" alt="Cart Icon">
                        </div>
                        <div class="nav-login-cart-count" th:text="${cart_size}">0</div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>